//Colors
$lightBeige : #E8EAE5;
$darkBeige: #535657;
$lavender: #978CAF;
$darkTeal: #4F646F;
$red: #A8646F;
$lightRed: #C48184;

$white: #F9FFFD;
$black: #242526;

//Media Query
$xxs: 479px;
$xs : 768px;
$sm: 992px;
$md: 1200px;

//Font Family
$headerFont: 'Baloo Chettan', sans-serif;
$textFont: 'Roboto Slab', serif;